debug = false

*
  box-sizing border-box
  if debug
    box-shadow: inset 0px 0px 1px red

ul
menu
  list-style none
  margin 0
  padding 0

f()
  box-sizing border-box
  display flex

vertical()
  flex-direction column

horizontal()
  flex-direction row

one()
  flex 1

two()
  flex 2

three()
  flex 3

four()
  flex 4

five()
  flex 5

ais()
  align-items flex-start

aie()
  align-items flex-end

aic()
  align-items center

aist()
  align-items stretch

aib()
  align-items baseline

jca()
  justify-content space-around

jcb()
  justify-content space-between

jcc()
  justify-content center

jcs()
  justify-content flex-start

jce()
  justify-content flex-end

acs()
  align-content flex-start

ace()
  align-content flex-end

acc()
  align-content center

acst()
  align-content stretch

acb()
  align-content space-between

aca()
  align-content space-around

sas()
  align-self flex-start

sae()
  align-self flex-end

sac()
  align-self center

sast()
  align-self stretch

sab()
  align-self baseline

fs()
  justify-content flex-start
  align-content flex-start

fe()
  justify-content flex-end
  align-content flex-end

fc()
  align-items center
  justify-content center
  align-content center

start()
  margin-left 0
  margin-right auto
end()
  margin-right 0
  margin-left auto
start-top()
  margin-bottom 0
  margin-top auto
end-bottom()
  margin-bottom auto
  margin-top 0
