text= #1C2130
primary= #ED4A6A

success= #8EAC00
error= #FF5254

light= #FAFAFA
dark= #1E1A1B

swift= cubic-bezier(.55,0,.1,1)

sunny= #F9D423
blue= #689BDE
bluee= #518CD9
blueee= #4A87D8
blueeee= #4282D6

h1,h2,h3,h4,h5,h6
  font-family: 'Roboto', sans-serif
  margin 0
  font-weight normal
p
  font-family: 'Roboto', sans-serif
  font-size 1rem
  line-height 1.5
