@import 'styl/settings.styl'
@import 'styl/base.styl'

html
body
  width 100%
  height 100%
  padding 0
  margin 0
  font-size 16px
  font-family 'Roboto', sans-serif

section
  f()
  horizontal()
  jcs()
  aist()
  width 100%
  height 100%
  overflow hidden
  background-image url('./assets/car.jpg')
  background-position center center
  background-size cover
  .left
  .right
    one()
    f()
    vertical()
    jcc()
    aic()
    color light
    h2
      font-size 10rem
      margin 0
      padding 0
  .left
    aie()
    h2
      padding 0
  .right
    ais()
    h2
      padding 0
